#conteneur
{
  width: 85%;
  margin: auto;
  background-image: url(img/fond-site.jpg);
  min-height: 400px;;
}
body
{
  background-image:url(img/fond-site2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
div
{
  margin: 10px;
  padding: 3px;
  border-radius: 5px;
}
h1, h3
{
  text-align: center;
}
#ajout
{
  float: right;
  width: 20%;
}
#vue_liste
{
  float: left;
  width: 47%;
}
